name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  IMAGE_NAME: yaseer926/my-flask-app

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run tests
      run: |
        pytest -q

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build Docker image
      run: |
        IMAGE_TAG=${{ github.sha }}
        docker build -t $IMAGE_NAME:latest -t $IMAGE_NAME:$IMAGE_TAG .

    - name: Push Docker image
      run: |
        IMAGE_TAG=${{ github.sha }}
        docker push $IMAGE_NAME:latest
        docker push $IMAGE_NAME:$IMAGE_TAG
  deploy:
    needs: build_and_push
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: 'latest'

    - name: Configure Kubernetes credentials
      run: |
        mkdir -p ~/.kube
        echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config

    - name: Update Kubernetes deployment with new Docker image
      run: |
        kubectl set image deployment/my-flask-app my-flask-app=${{ env.IMAGE_NAME }}:${{ github.sha }}
